th{
  font-size: large;
  font-weight: bolder;
  padding: 50px 50px;
  gap: 100px;
  height:100px;
  width: 100%;
 
}

.link1 {
  width: 15vw;
  

}
.link2{
 width: 20vw;
 height: 30px;

}

.link3{
 width: 25vw;
 
}


.link4{
 width: 15vw;

}

.btn {
  width: 25vw;
  gap: 30px;
 
}
