th {
  font-size: large;
  font-weight: bolder;
  padding: 50px;
  gap: 90px;
  height: 100px;
  width: 100%;
  flex-wrap: wrap;
}
td {
  padding: 130px ;
  gap: 90px;
  font-size: large;
  font-weight: bolder;
}

.link1 {
  width: 15vw;
  /* border: 5PX solid red; */
}
.link2 {
  width: 20vw;
  /* border: 5PX solid red; */
}

.link3 {
  width: 25vw;
  /* border: 5PX solid red; */
}

.link4 {
  width: 15vw;
  /* border: 5PX solid red; */
}

.btn {
  width: 25vw;
  gap: 50px;

  /* border: 5PX solid red; */
}
