th {
  font-size: large;
  font-weight: bolder;
  padding: 50px;
  gap: 90px;
  height: 100px;
  width: 100%;
  flex-wrap: wrap;
}
td {
  font-size: large;
  font-weight: bolder;
  padding: 100px;
  gap: 60px;
  flex-wrap: wrap;
}


.link1 {
  width: 15vw;
 
}
.link2 {
  width: 20vw;

}

.link3 {
  width: 25vw;
}

.link4 {
  width: 15vw;
}

.btn {
  width: 25vw;
  gap: 50px;
}
tbody{
  
  flex-wrap: wrap;
   padding: 50px;
 background-color: pink;
}

.buttons{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.editBtn{
color: pink;
background-color: black;
}

.deleteBtn{
color: pink;
background-color: black;
}