.addLink {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: pink;
  width: 95,5%;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-top: 50px;
  border: solid black;
}

.linkTi {
  font-style: normal;
  font-weight: bold;
}

.linkUrl {
  font-style: normal;
  font-weight: bold;
}
.linkDiscr {
  font-style: normal;
  font-weight: bold;
}
.linkTag {
  font-style: normal;
  font-weight: bold;
}
.btnAdd {
  width: 100px;
  height: 40px;
  margin-left: 150px;
  margin-top: 30px;
  background-color: black;
  color: pink;
  cursor: pointer;
}
